templates:
  - &BANK_GAIN_SCALE { gainScale: {0: 1, 1: 3, 2: 5, 3: 10 } }

players:
  max: 1
  names:
    - Mdr1
    - Mdr2
sequences:
  - type: ROUND
    number: 1
    players:
      startType: 'alphabetical'
    duration_s: 120
    questions:
      order: random
    bank:
      fillType: none
      preMultiplier: 1
      << : *BANK_GAIN_SCALE
  - type: ROUND
    number: 2
    players:
      startType: 'previousStrongest'
    duration_s: 120
    questions:
      order: random
    bank:
      fillType: previous
      preMultiplier: 1
      << : *BANK_GAIN_SCALE
  - type: VOTE
    player:
      numberToExclude: 1
    manual: true
  - type: FACEOFF
